.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background: #363636;
  border-bottom: 1px solid #444444;
  font-size: 20px;
  z-index: 10;
}
.row {
  flex: 1 1 auto;
  padding: 0 20px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.content {
  height: 100%;
  align-items: center;
  display: flex;
}
.item {
  color: #fff;
  text-decoration: none;
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0 40px;
  transition: background-color 0.1s ease;
}
.item:hover {
  background-color: #404040;
}
@media (max-width: 768px) {
  .item {
    padding: 0 25px;
  }
  .row {
    padding: 0 15px;
  }
}
